<% provide(:title, "New post") %>
<h1>New post</h1>
<p>Posting as: <%= current_user.name %></p>
<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Share your genius..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
